div
    h2.text-center Login  
    p inicia sesion marica
    button calale master

//- pug usa bloques de identacion para ir definiendo un hijo de un elemento
//- escribo la etiqueta, un espacio y le puedo poner el contenido de mi html