extends ../layout/index

block contenido 
    div(class="pb-10")  
        h1(class="text-4xl my-10 font-extrabold text-center text-purple-500") Real
            span.font-normal.text-black Estate
        h2(class="text-center text-2xl font-bold")= page

        p.text-xl.font-bold.text-center.my-10= message